.Books {
  max-width: 80%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.Books h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.details-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
}

.maincontainer {
  display: block;
  padding: 12px 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: transform 0.2s, box-shadow 0.2s;
}

.maincontainer:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-info {
  font-size: 16px;
  color: #444;
}

.edit-btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-btn:hover {
  background-color: #0b7dda;
}
.delete-btn {
  margin-inline: 4%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f32121;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  padding-top: 0.5%;
}

.delete-btn:hover {
  background-color: #b61717;
}
.logout-btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f32121;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  padding-top: 0.5%;
  display: flex;
}

.logout-btn:hover {
  background-color: #b61717;
}
.rent-btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #11cb00;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.rent-btn:hover {
  background-color: #0c8e00;
}
.book-thumbnail {
  max-width: 100px;
}
.buttons-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-main:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #4b4b4b;
}
.button-main:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #4b4b4b;
}
.searchbar {
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-bottom: 1%;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  border-block-start: rgb(0, 0, 0);
  border-left: none;
  border-right: none;
}

.show-info-btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.show-info-btn:hover {
  background-color: #0b7dda;
}
.showexp {
  border-radius: 5px;
  padding: 1%;
  box-shadow: 1px 0px 6px 8px rgb(206, 206, 206, 0.1);
}
