.Books {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  padding-bottom: 10%;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: auto;
}

.Books h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-info {
  font-size: 16px;
  color: #444;
}

.logout-btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f32121;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  padding-top: 0.5%;
  display: flex;
}

.logout-btn:hover {
  background-color: #b61717;
}
.view-btn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #4e4ef9;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.view-btn:hover {
  background-color: #3939b6;
}
.book-thumbnail {
  max-width: 100px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Submit-Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0051ff;
  font-size: 120%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* padding: 3%; */
  color: white;
  border-radius: 4px 4px 4px;
  margin: 2%;
  cursor: pointer;
  outline: none;
  border-style: none;
  transition: 0.1s;
  border-width: 0 0 4px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0) 0 2px 4px;
}

.Submit-Button:hover {
  background-color: #0501d3;
  font-size: 124%;
}
.Submit-Button:active {
  background-color: #03009c;
}
