.Login {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .Login-logo {
    animation: Login-logo-spin infinite 20s linear;
  }
}
.Login-Container{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #0501d3;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -25px 18px -14px inset,
      rgba(0, 0, 0, 0.15) 0 1px 2px,
      rgba(0, 0, 0, 0.15) 0 2px 4px,
      rgba(0, 0, 0, 0.15) 0 4px 8px,
      rgba(0, 0, 0, 0.15) 0 8px 16px,
      rgba(0, 0, 0, 0.15) 0 16px 32px;
    padding-bottom: 15%;
    margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        padding-top: 5%;
        border-radius: 14px 14px 14px;

}
 
.Login-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 340%;
    color: #0600ff;
    margin: 2%;
    font-family: revert;
}
.Login-input{
  display: flex;
  flex-direction:   column;
  align-items: center;
  justify-content: center;

}

.Login-Button{
   display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0600ff;
    font-size: 190%;
    padding-left: 41%;
    padding-right: 41%;
    padding-top: 4%;
    padding-bottom: 4%;
    /* padding: 3%; */
    color: white;
    border-radius: 4px 4px 4px;
    margin: 2%;
    cursor: pointer;
    outline: none;
    border-style: none;
    transition: .1s;
    border-width: 0 0 4px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0) 0 2px 4px;
}
 
.Login-Button:hover{
    background-color: #0501d3;
    font-size: 190%;

}
.Login-Button:active{
    background-color: #03009c;
 
}

.button {
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.Login-link {
  color: #61dafb;
}
.Login-Password,.Login-Username {
  background-color: antiquewhite;
  font-size: 140%;
  border: none;
  margin:1%;
  padding:4%;
  border-radius: 4px;
}
@keyframes Login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
